html,
body {
    background: #F2F2F2;
    font-family: system-ui, sans-serif;
}

.wrapper {
    padding: 50px 0;
}

#draw-canvas {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.video-box {
    text-align: center;
}
.video-box  #selected-image{
    display: none;
    /* height: 506px !important; */
    width: 991px !important;
}
#draw-canvas-image {
    display: none;
}
.card {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0 15px 16.83px 0.17px rgb(0 0 0 / 5%);
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.loader-section{
    
    background: #dfdfdfc7;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 2;
    display: none;

}
.loader {margin: 0;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.product-list-section{
    display: none;
}
.right-inner {
    padding: 15px;
    padding: 120px 30px;
    text-align: center;
}

.right-inner h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

label {
    display: block;
    color: black !important;
    padding-bottom: 5px;
    font-size: 18px;
}

.form-field {
    padding: 15px 0;
    position: relative;
}

.form-field label span {
    color: red;
}



.choose-file {
    margin: auto;
}

.upload-btn {
    background-color: #f0c514;
    color: #000000 !important;
    height: fit-content;
    border-radius: 8px;
    padding: 10px 30px;
    text-align: center;
    width: 100%;
    max-width: 200px;
    box-shadow: 0 15px 16.83px 0.17px rgb(0 0 0 / 12%);
    margin: auto;
}

#imgInp {
    display: none;
}


.video-box {
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 16.83px 0.17px rgb(0 0 0 / 12%);
    background-color: aliceblue;
    border-radius: 12px;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

video::-webkit-media-controls-fullscreen-button {
    display: none !important;
}

.video-box video {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

button {
    width: 100%;
    padding: 15px 10px;
    border-radius: 8px 8px 8px 8px;
    background-color: #f0c514;
    color: #000000;
    border: none;
    outline: none;
    font-size: 19px;
    box-shadow: 0 15px 16.83px 0.17px rgb(0 0 0 / 12%);
}



@media (max-width: 769px) {

    .wrapper {
        height: 100vh;

    }

    .container {
        height: 100%;
    }

    .d-flex {
        display: block;
    }

    .left,
    .right {
        width: 100%;
    }

    .left img {
        width: 40%;
    }

    .left {
        padding-top: 30px;
    }
}

@media (max-width: 481px) {
    .choose-file {
        display: block;
        text-align: center;
    }

    .upload-btn {
        margin: 0 auto;
    }

    #blah {
        width: 120px;
        height: 120px;
        object-fit: cover;
        margin-bottom: 15px;
    }
}