{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detection</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/assets/css/style.css' %}">
</head>

<body>
    <div class="loader-section">
        <div class="loader"></div>
    </div>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-9 col-lg-9 col-md-8">
                                    <div class="video-box">
                                        <img src="" alt="" class="selected-image w-100" id="selected-image">
                                        <canvas class="draw-canvas-image" id="draw-canvas-image"></canvas>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 col-md-4">
                                    <div class="right-inner">
                                      
                                        
                                        <form id="signup" class="form" action="#action_page.php" name="form"
                                            method="POST">
                                            <div class="form-field">
                                                <div class="choose-file">
                                                    <label for="imgInp" class="upload-btn">Upload Image</label>
                                                    <input accept="image/*" type='file' id="imgInp"
                                                        class="fileUpload" />
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="product-list-section">
                                        <h4 class="product-list-heading"> Total Detected Person <span></span></h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <canvas class="image-canvas" id="image-canvas" hidden></canvas>
                    <input type="text" value="" name="" id="image-value" hidden>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{% static 'main/assets/js/app_image.js' %}"></script>

</body>

</html>